
@{
    Layout = null;
}
<head>
    <title>Hello Starlabs</title>
    <link rel="stylesheet" href="/Bootstraptheme/css/stylehome.css">
</head>

<body>
    <div class="main">
        <h1>HELLO STARLABS</h1>
        <button><a href="@Url.Action("Index")">CLICK HERE TO CHECK MY CV</a></button>
    </div>
</body>

